body, html {
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100px;
  widht: auto;
  height: auto;
  z-index: 1;
}

.text {
  z-index: 2;
  position: absolute;
  background: rgba(0,0,0,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
