*{
   margin:0;
   padding:0;
   font-family: 'lato',sans-serif;
}
h1 {
  font-family: 'lato',sans-serif;
  position: relative;
  top: 120px;
}
header {
   position:fixed;
   width: 100%;
   height: 10%;
   background-color:#74b9ff;
   top:0;
   left:0;
   text-align: center;
}
header a{
   text-decoration:none;
   color:#fff;
   position: relative;
   top: -140px;
   left: 20px;
   display:inline-block;
   padding: 10px 15px;
   margin:150px 30px;
   border:1px solid #fff;
   border-radius:5px;
}
header a:hover {
   background-color: #fff;
   color:#777;
   box-shadown: 0 2px 3px #777;
}

.btn-1 {
  transition: .5s;
}
@keyframes btn2 {
  0% {
   transform:rotate(0);
  }
  25%{
   transform:rotate(10deg);
  }
  50%{
   transform:rotate(0);
  }
  75%{
   transform:rotate(-10deg);
  }
  100%{
   transform:rotate(0);
  }
}
.btn-2{
   transition: .5s;
}
.btn-2:hover {
   animation-name:btn2;
   animation-delay: .5s;
   animation-duration: 1s;
   animaction-time-function: linear;
   animaction-iteration-count: 1;
}
@keyframes btn3 {
  0% {
   transform:rotateX(0);
  }
  50%{
   transform:rotateX(180deg);
  }
  100%{
   transform:rotateX(0);
  }
}
.btn-3{
   transition: .5s;
}
.btn-3:hover {
   animation-name:btn3;
   animation-delay: .5s;
   animation-duration: .5s;
   animaction-time-function: linear;
   animaction-iteration-count: 1;
}
