*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
.header{
  background-image: url(cs.gif);
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
