body {
    margin: 0;
    background-color: #1d1b1b;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.hidden {
    display: none;
}

.container {
    display: flex;
    margin: 100px auto;
    width: 320px;
    flex-flow: row wrap;
}

.item {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
}

.input,
.button {
    height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #00b7ff;
    display: block;
    width: calc(100% - 40px);
    margin: 0;
}

.input.-type-a {
    background-color: rgba(225, 26, 232, 0.1);
    border-color: rgba(232, 26, 232, 0.3);
    color: #ab21c7;
}

.input.-type-b.back {
    background-color: rgba(225, 26, 232, 0.1);
    border-color: rgba(232, 26, 232, 0.3);
    color: #ab21c7;
}

.input.-type-b.noback {
    background-color: rgba(31, 218, 209, 0.1);
    border-color: rgba(31, 206, 218, 0.3);
    color: #23ccb0;
}



.button {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(31, 90, 218, 0.1);
    border-color: rgba(0, 255, 200, 0.3);
    color: #23cc91;
    height: 60px;
    margin-top: 40px;
    width: 100%;
}

.button:active,
.button:focus,
.input:active,
.input:focus {
    box-shadow: none;
    outline: none;
}

.button:focus {
    border-color: #00e1ffc2;
}

.input.-type-b.back:focus{
    border-color: rgba(215, 26, 232, 0.637);
}

.input.-type-a:focus {
    border-color: rgba(215, 26, 232, 0.637);
}

.input.-type-b.noback:focus {
    border-color: rgba(31, 218, 218, 0.5);
}

@media all and (min-width: 640px) {
    .container {
        width: 600px;
    }
}