body {
    margin: 0;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    margin: 100px auto;
    width: 320px;
    flex-flow: row wrap;
}

.item {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
}

.input,
.button {
    height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    display: block;
    width: calc(100% - 40px);
    margin: 0;
}

.input.-type-a {
    background-color: rgba(232, 183, 26, 0.1);
    border-color: rgba(232, 183, 26, 0.3);
    color: #775e0d;
}

.input.-type-b {
    background-color: rgba(31, 218, 154, 0.1);
    border-color: rgba(31, 218, 154, 0.3);
    color: #0e6647;
}

.button {
    background-color: #ffffff;
    color: #bbbbbb;
    height: 60px;
    margin-top: 40px;
    width: 100%;
}

.button:active,
.button:focus,
.input:active,
.input:focus {
    border-color: #bbbbbb;
    box-shadow: none;
    outline: none;
}

.input.-type-a:focus {
    border-color: rgba(232, 183, 26, 0.5);
}

.input.-type-b:focus {
    border-color: rgba(31, 218, 154, 0.5);
}

@media all and (min-width: 640px) {
    .container {
        width: 600px;
    }
}